@import '../constants.scss';

*{
	margin: 0;
	padding: 0;
}
.header {
	.header-up {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 100px;

		.logo {
			height: 12px;
		}

		.login {
			display: flex;
			align-items: center;
			font-size: 10pt;
			gap: 10px;

			a {
				text-decoration: none;
				color: $dark-gray;
			}

			img {
				width: 18px;
			}
		}
	}

	.header-down {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 $external-padding;
		position: relative;

		.line {
			width: 100%;
			height: 40px;
			background-color: $orange;
		}

		input {
			position: absolute;
			bottom: -20px;
			width: 30vw;
			height: 40px;
			padding-left: 10px;
			border-radius: 6px;
			border: none;
			box-shadow: 0px 2px 12px -3px $ligth-gray;
			min-width: 420px;
		}
	}

	.header-icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 70px 100px 0;

		.principal-icon {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			color: $ligth-gray;

			img {
				width: 40px;
				filter: invert(6%) sepia(1%) saturate(1348%) hue-rotate(314deg) brightness(99%) contrast(69%); // dark-gray
			}

			p{
				text-transform: uppercase;
				font-size: 0.9rem;
				font-weight: 500;
			}

			&:hover {
				color: $orange;
				cursor: pointer;

				img {
					filter: invert(37%) sepia(99%) saturate(814%) hue-rotate(321deg) brightness(97%) contrast(88%); // orange
				}
			}
		}

		.active {
			color: $orange;
			
			img {
				filter: invert(37%) sepia(99%) saturate(814%) hue-rotate(321deg) brightness(97%) contrast(88%); // orange
			}
		}
	}
}
